

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */

/* END RESET */


	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}

/*SITE HEADER WRAPPER*/
	
	


	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}

/*SITE HEADER WRAPPER*/
	
#siteheader{
	position: fixed;
}

.shrink01 {
	background-color: rgb(153, 155, 153);
	width: 80%;
	border-style: solid;
	border-width: 0.15em;
	border-color: rgb(186, 186, 186);
	border-radius: 25px;
	
}
.shrink01 a{
	padding: 35%;
}


.shrink02 {
	background-color: rgb(153, 155, 153);
	width: 80%;
	border-style: solid;
	border-width:  0.15em;
	border-color: rgb(186, 186, 186);
	border-radius: 25px;
}
.shrink02 a{
	padding: 35%;
}

.shrink03 {
	background-color: rgb(153, 155, 153);
	width: 80%;
	border-style: solid;
	border-width: 0.15em;
	border-color: rgb(186, 186, 186);
	border-radius: 25px;
}
.shrink03 a{
	padding: 35%;
}



	
/*NAVIGATION*/

	
#navigationone{
	width: 50%;
	padding-top: 13%;
	position: fixed;
	top: 10%;
	left: 0;
	margin-left: 5%;
	display: block;
	
}

	
#navigationone	li {
	padding: 0.5em;
	font-size: 180%;
	color: #000;
	font-weight: 200;
	}


#navigationone a{
	color: white;
}	
	




			
/*BODY*/


#bodywrapper {
	margin-top:10%;
	margin-bottom:10%;

	}
		 
	 

body {
	font-size:20px;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 400;
	text-align:left;
 	margin:0 auto;
	width:100%;
	
	
	 }
	

/*FLOATING IMAGES*/


	

	
	
