

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */
body {
	margin:0 auto;
	width: 1200px;
}
#top-nav a {
	color: #8b4510;
	text-decoration:none;
	padding: 8px;
}
#top-nav {
	display:inline-block;
	float:right;
    margin: 0px;
    padding: 10px;
	font-size:10px;
	font-family: helvetica;
    border: none;
	
}
h1 {
	top: 1px;
	left: 250px;
	position: absolute;
	padding-top:20px; 
	
}
.logo {
	float:left;
	padding:60px;
	border: none;
}
#menu-wrapper {
	border-top: 140px solid #FAFAD2;
	border-bottom: 25px solid #8b4510;
}

#main-menu a {
   display:inline-block;
   text-decoration:none;
   color: white;
}

nav li {
	float:left;
	display:inline-block;
	padding-left:50px;
	padding-top: 5px;
}
ul {
	font-size: 13px;
	font-family: helvetica;
	text-transform: uppercase;
	padding-left:160px;
	font-weight: bold;
}
#content-wrapper {
	float:left;
	padding-left:20px;
	padding-top: 35px;
	padding-left: 210px;
}
h2 {
	font-size: 35px;
	font-family: helvetica;
	text-transform: uppercase;
    font-weight: bold;
	color: #8b4510;
}
h3 {
	font-size: 20px;
	font-family: helvetica;
	text-transform: uppercase;
    font-weight: bold;
	color: #8b4510;
	padding-top: 20px;
	padding-bottom: 10px;
}
p {
	font-size: 12px;
	font-family: helvetica;
	width: 500px;
	line-height: 140%;
}
#sidebar {
	position: absolute;
	top: 235px;
	right: 150px;
	
}
h4 {
	font-size: 20px;
	font-family: helvetica;
	text-transform: uppercase;
	font-weight: bold;
	color: #8b4510;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 155px;
}

#lorem a {
   text-decoration: none;
   color: #8b4510;
   font-size: 10px;
   font-family: helvetica;
   font-weight: normal;
   text-transform: lowercase;
   padding-bottom: 10px;
   
}
h5 {
	padding-bottom: 2px;
	text-align: left;
	padding-left: 160px;
	
}
#footer-wrapper {
	padding-top: 530px;
	border-bottom: 150px solid #8b4510;
}

#site-footer {
	float:left;
	padding-top: 10px;
}
h6 {
	color: #FAFAD2;
	font-size: 15px;
	font-family: helvetica;
	padding-left:208px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 5px;
	
}

#site-footer p {
	font-size: 8px;
	font-family: helvetica;
	font-size: 13px;
	padding-left:208px;
	line-height: 120%;
	color: white;
	
}


#follow {
	position: absolute;
	top: 700px;
	right: 260px;
	padding-top: 10px;
	padding-bottom: 5px;
}

h7 {
	color: #FAFAD2;
	font-size: 15px;
	font-family: helvetica;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 170px;

}
# follow-logo a{
	display:inline-block;
    padding-bottom: 10px;
   
}
section li{
	display:inline-block;
	
}


















