<style>
<h1 { color:black;
	font-size:20px;
	text-transform:uppercase;
	font-family:Proxima Nova;
	padding:5PX;
}
</style>
<nav>
    body {background-color:yellow;}
	li {
		display:inline-block;
		padding:5px;
		margin:0px 10px 10px 15 px;
		font-family:Proxima Nova;
		text-transform:uppercase;
		color:white;
		border:5px solid black;
	}
	</li>
	</nav>

